# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
!compress-images.js
!/src/wordpress/*.js
.env
database-debug.log

# Local Netlify folder
.netlify