{
  "singleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "never",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.css",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "**/*.md",
      "options": {
        "parser": "mdx"
      }
    }
  ]
}
