backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'cms: Create “{{slug}}”'
    update: 'cms: Update “{{slug}}”'
    delete: 'cms: Delete “{{slug}}”'
    uploadMedia: 'cms media: [skip ci] Upload “{{path}}”'
    deleteMedia: 'cms media: [skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow
locale: de
editor:
  preview: false
slug:
  encoding: ascii
  clean_accent: true
collections:
  - name: 'article'
    label: 'Artikel'
    folder: 'content/articles'
    create: true
    slug: '{{year}}-{{month}}---{{permalink}}'
    preview_path: '{{year}}/{{month}}/{{permalink}}'
    fields:
      - {
          label: 'Template Key',
          name: 'templateKey',
          widget: 'hidden',
          default: 'article',
        }
      - { label: 'GoLive', name: 'date', widget: 'datetime', required: false }
      - { label: 'Permalink', name: 'permalink', widget: 'string' }
      - { label: 'Typ', name: 'typeName', widget: 'string', default: "Beitrag", required: false }
      - { label: 'Titel', name: 'title', widget: 'string' }
      - { label: 'Untertitel', name: 'subTitle', widget: 'string' }
      - { label: 'SEO Titel', name: 'seoTitle', widget: 'string', required: false, hint: 'Fallback: Titel' }
      - { label: 'Social Media Titel', name: 'ogTitle', widget: 'string', required: false, hint: 'Fallback: SEO Titel | Titel' }
      - { label: 'Meta Description', name: 'description', widget: 'text', hint: 'Wird als Meta Description und für Social Media Posts verwendet' }
      - { label: 'Teaser (Textauszug)', name: 'excerpt', widget: 'text', required: false, hint: 'Für Übersichtsseiten - Fallback: Description' }
      - { label: 'Text', name: 'body', widget: 'markdown' }
      - { label: 'Hauptbild', name: 'image', widget: image }
      - { label: 'Social Media Bild', name: 'ogImage', widget: image }
      - { label: 'Labels', name: 'labels', widget: 'list' }
      - { label: 'Focuskeyword', name: 'focusKeyword', widget: string, required: false }
      - { label: 'Werbung', name: 'advertisement', widget: boolean, default: false, required: false }
      - { label: 'Affiliate', name: 'affiliate', widget: boolean, default: false, required: false }
      - { label: 'Sprache', name: 'language', widget: "select", options: ["de", "en"], default: 'de', required: false }
      - { label: 'Sprachlink', name: 'languageLink', widget: "string", required: false, hint: 'Link zur Version in anderer Sprache. Startet z.B. mit /2021/06...' }
  - name: 'pages'
    label: 'Seiten'
    folder: 'content/pages'
    create: true
    slug: '{{slug}}'
    preview_path: '{{slug}}'
    fields:
      - {
          label: 'Template Key',
          name: 'templateKey',
          widget: 'hidden',
          default: 'page',
        }
      - { label: 'Titel', name: 'title', widget: 'string' }
      - { label: 'Untertitel', name: 'subtitle', widget: 'string' }
      - { label: 'Exzerpt', name: 'description', widget: 'text' }
      - { label: 'Bild', name: 'image', widget: image }
      - { label: 'Text', name: 'text', widget: 'markdown' }
